@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hills and Son</h1>
    <p class="lead">This Application will enable you impost a stock file into our system</p>
    <p><a href="" class="btn btn-primary btn-lg">Visit our Main Site</a></p>
</div>

<div class="row">
    <div class="col-md-4">
   </div>
    <div class="col-md-4">
        <fieldset>
            <legend>Supply Credentials</legend>
            <div>
                @using (Html.BeginForm("GetIn", "Home", FormMethod.Post))
                {
                    <fieldset>
                        
                        <div class="form-group">
                            <input type="text" id="un" name="un" />
                        </div>
                        <div class="form-group">
                            <input type="text" id="pw" name="pw" />
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <input type="submit" name="btnSubmit" value="Press To Enter" />
                    </div>

                }
            </div>
        </fieldset>
    </div>
    <div class="col-md-4">
    </div>
</div>